{% extends 'base.twig' %}

{% block header %}System Health Check{% endblock %}

{% block content %}
    <div class="card">
        <table class="system-health-table">
            <thead>
            <tr>
                <th>System</th>
                <th>Status</th>
                <th>Health</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for name, result in results %}
                <tr>
                    <td>{{ name }}</td>
                    <td class="{{ result.status == 'OK' ? 'status-ok' : 'status-fail' }}">{{ result.status }}</td>
                    <td class="{{ result.status == 'OK' ? 'status-ok' : 'status-fail' }}">{{ result.status }}</td>
                    <td>{{ include('components/button-link.twig', { url: url_for('health.show', { 'name': name }), text: 'Details' }) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
