{% extends 'base.twig' %}

{% block header %}{{ name }}{% endblock %}

{% block content %}
    <article>
        <a href="{{ url_for('health.index') }}" >< Back</a>
        <div>
            <div>Request: <span>{{ result.status.reasonPhrase() }}</span></div>
            <div>Endpoint: <a href="{{ result.endpoint }}" target="_blank">{{ result.endpoint }}</a></div>
            <div>Response:</div>
            <pre><code>{{ result.response }}</code></pre>
        </div>
    </article>
{% endblock %}
